body {
  font-family: "Lato-light";
  display: grid;
  min-height: 100vh;
  background-color: hsl(var(--clr-dark));
    
  grid-template-rows: min-content 1fr;

  overflow-x: hidden ;
}

article {
  display:flex;
  margin-left: 400px;
  margin-right: 500px;
  align-items: center;
  justify-content: center;
}

h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  border-bottom: 20px;
  text-align: center;
}

.section {
  border-bottom: 2px solid black;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

.education-section {
  position: absolute;
}

.education-section-2 {
  margin-top: 100px;
  position: absolute;
}
.education-section-3 {
  margin-top: 200px;
  position: absolute;
}
.ed-image {
  position: relative;
  float: left;
  width: 130px;
  text-align: center;
}
.ed-info {
  position: relative;
  float: right;
  text-align: justify;
}



.profile {
  border-radius: 100px;
  border: 1px;
}

.imgprof-container {
  width: 500px;
  text-align: center;
}

.hidden {
  display: none;
}

.social li {
    list-style: none;
}

.social li{
  display: inline-block;
  filter: invert(0.2);
  margin-right: 50px;
  transform: scale(1);
  transition: 0.5s;
}

.social li:hover{
   transform: scale(1.1) translateY(-10px);
}

.flex {
   display: flex;
   gap: var(--gap, 5rem);
}

/* primary header */
.primary-header {
  align-items: right;
  justify-content: space-between;
}

.mobile-nav-toggle{
  display: none;
}

.primary-navigation{
  list-style: none;
  padding: 0;
  margin: 0;

  background: hsl(0 0% 0% / 0.75);
}

.primary-navigation a{ 
  text-decoration: none;
}

.primary-navigation a > span{ 
  font-weight: 700;
  margin-inline-end: .5em;
}

@media (min-width: 35em){
    .primary-navigation{
      --gap: 2em;
        
      position: fixed;
      inset: 0 0 0 30%;
      
      flex-direction: column;
      padding: min(20vh, 10rem) 2em;

      transform: translateY(100%);
  }
  .primary-navigation[data-visible='true']{
      transform: translateY(0%);
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background: rgb(138, 144, 182);
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }
  
}

@supports( backdrop-filter: blur(1rem)){
    .primary-navigation{
      background: hsl(0 0% 100% / 0.1);
      backdrop-filter: blur(1rem);
    }
}