body {
  font-family: "Lato-light";
  display: grid;
  min-height: 100vh;
  background-color: hsl(var(--clr-dark));
    
  grid-template-rows: min-content 1fr;

  overflow-x: hidden ;
}

article {
  display:flex;
  margin-left: 400px;
  margin-right: 500px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

h2 {
  font-family: "Lato", Courier, monospace;
  font-size: 20px;
  border-bottom: 20px;
  text-align: center;
}

.section {
  border-bottom: 2px solid black;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

.ed-image {
  width: 130px;
  text-align: center;
}
.ed-info {
  text-align: justify;
  justify-content: space-between;
}

.profile {
  border-radius: 100px;
  border: 1px;
}

.imgprof-container {
  width: 500px;
  text-align: center;
}

.hidden {
  display: none;
}

.social li {
    list-style: none;
}

.social li{
  display: inline-block;
  filter: invert(0.2);
  margin-right: 50px;
  transform: scale(1);
  transition: 0.5s;
}

.social li:hover{
   transform: scale(1.1) translateY(-10px);
}

.flex {
   display: flex;
   gap: var(--gap, 5rem);
}

/* primary header */
.primary-header {
  align-items: right;
  justify-content: space-between;
}

.primary-navigation{
  list-style: none;
  padding: 0;
  margin: 0;

  background: rgba(126, 155, 219, 0.75);
}

.primary-navigation li {
  list-style: none;
  display: inline-block;
  justify-content: space-between;
}

