* {
  box-sizing: border-box;
  font-family: Montserrat,sans-serif;
  font-weight: 200;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  min-height: 100vh;
  background-color: hsl(var(--clr-dark));
  grid-template-rows: min-content 1fr;
  overflow-x: hidden ;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

article {
  margin-top: 60px;
  display:flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 20px;
  
}

.back {
  display:flex;
  width: 60%;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px 2px rgb(170, 170, 170);
  border-radius: 10px;
}

.navbar {
  width: 100%;
  position: fixed; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.brand-title {
  font-size: 1.8rem;
  margin: 0.5rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li{
  list-style: none;
  font-size: 21px;
  font-weight: lighter;
}

.navbar-links li:hover{
  font-size: 21.5px;
  background-color: rgb(60, 109, 216);
  transition: background-color 1000ms linear;
}

.navbar-links li a{
  text-decoration: none;
  color: rgb(44, 44, 44);
  display: block;
  align-content: space-between;
  padding: 1rem;
}

.profile {
  width: 250px;
  border-radius: 200px;
  border: 1px;
}

.imgprof-container {
  width: fit-content;
  text-align: center;
}

.hidden {
  display: none;
}

.social li {
    list-style: none;
}

.social li{
  display: inline-block;
  filter: invert(0.2);
  margin-right: 50px;
  transform: scale(1);
  transition: 0.5s;
  mix-blend-mode: exclusion;
}

.social li:hover{
   transform: scale(1.1) translateY(-10px);
}

.flex {
   display: flex;
   gap: var(--gap, 5rem);
}

.foot {
  background: rgb(16, 39, 88);
  height: 200px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: aliceblue;
}

.text {
  width: 80%;
  display: flex;
  justify-content:flex-start;
  align-items:center;
  text-align:center;
}

.toggle-button {
  position: absolute;
  top: 0.7;
  margin-top: 5px;
  right: 1rem;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 30px;
  height: 28px;
}

.toggle-button .bar {
  width: 20%;  
  background-color: rgb(187, 202, 207);
}

.bar1 { height: 25%;}
.bar2 { height: 45%;}
.bar3 { height: 85%;}
.bar4 { height: 63%;}

.education {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.education .ed-info:hover {
  background-color: rgb(221, 223, 223);
  transition: background-color 1000ms linear;
}

.ul-blog li {
  list-style:disc;
  display:list-item;
}


@media ( max-width: 800px){
  h2 { 
    font-size: 28px;
  }
  .back {
    width: 85%;
  }
  .text {
    width: 90%;
  }
  .education {
    width: 80%;
  }
  .toggle-button{
    display: flex;
    align-items: flex-end;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul{
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a{
    padding: .5rem 1rem;
  }
  .navbar-links.active {
      display: flex;
  }
}
